<div class="hidden w-full max-w-sm lg:flex">
  <label class="searchbox relative mx-3 w-full"
    ><svg
      width="16"
      height="16"
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      class="pointer-events-none absolute z-10 my-3.5 ms-4 stroke-current opacity-60 text-base-content"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"
      ></path>
    </svg>
    <div
      data-svelte-typeahead=""
      role="combobox"
      aria-haspopup="listbox"
      class="svelte-4tg1b1"
      aria-controls="typeahead-0.1kf6exmlw89i-listbox"
      aria-expanded="false"
      id="typeahead-0.1kf6exmlw89i-typeahead"
    >
      <form data-svelte-search="">
        <label
          class="svelte-wqugyy"
          id="typeahead-0.1kf6exmlw89i-label"
          for="typeahead-0.1kf6exmlw89i"
          >Search<!----></label
        >
        <input
          name="search"
          type="search"
          placeholder="Search…"
          autocomplete="off"
          spellcheck="true"
          aria-autocomplete="list"
          aria-controls="typeahead-0.1kf6exmlw89i-listbox"
          aria-labelledby="typeahead-0.1kf6exmlw89i-label"
          id="typeahead-0.1kf6exmlw89i"
          class="svelte-wqugyy"
        />
      </form>
      <!---->
      <ul
        role="listbox"
        class="svelte-4tg1b1 svelte-typeahead-list"
        aria-labelledby="typeahead-0.1kf6exmlw89i-label"
        id="typeahead-0.1kf6exmlw89i-listbox"
      >
        <!---->
        <!---->
      </ul>
    </div>
    <!---->
    <div
      class="pointer-events-none absolute end-10 top-2.5 gap-1 opacity-50 rtl:flex-row-reverse hidden lg:flex"
    >
      <!----><kbd class="kbd kbd-sm">ctrl</kbd> <kbd class="kbd kbd-sm">K</kbd
      ><!---->
    </div></label
  ><!---->
</div>
